@font-face {
  font-family: 'Big John';
  src: url("../fonts/big_john-webfont.eot");
  src: url("../fonts/big_john-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/big_john-webfont.woff2") format("woff2"), url("../fonts/big_john-webfont.woff") format("woff"), url("../fonts/big_john-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
