$background-color--main: #ffffff;;
$background-color--intro: #7c664d;

$color--main: #81868e;
$color--light: #ffffff;
$color--second: #464646;
$color--section-title: #333b46;

$font-family--main: 'Open Sans', Arial, sans-serif;
$font-family--section-title: 'Source Sans Pro', Arial, sans-serif;
$font-family--logo: 'Big John', Arial, sans-serif;

$font-size--main: 14px;
$font-size--section-title: 20px;

$font-weight--main: 400;
$font-weight--section-title: 300;

$line-height--main: 1.786;

$letter-spacing--main: 0.05em;
$letter-spacing--section-title: 0.2em;



// $line-height--second: 1.625;

// btn
// $font-size--btn: 16px;
// $line-height--btn: 4;
// $letter-spacing--btn: 0.075em;
// $color--btn: #ffffff;
// $width--btn: 225px;
// $height--btn: 60px;
// $background-color-1--btn: #5474fd;
// $background-color-2--btn: #496bfe;
